<!-- blooddonor/templates/registration/login.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <style>
    
    </style>
</head>
<body>
   <!-- blooddonor/templates/registration/login.html -->

{% extends 'base.html' %}

{% block content %}
    <h2>User Login</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <br>
        <button type="submit">Login</button>
    </form>
{% endblock %}

</body>
</html>
